<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Adopt">

	<resultMap type="Adopt" id="AdoptMap">
		<id column="adopt_idx" property="adopt_idx"/>
		<result column="name" property="name"/>
		<result column="gender" property="gender"/>
		<result column="type" property="type"/>
		<result column="age" property="age"/>
		<result column="content" property="content"/>
		<result column="status" property="status"/>
		<result column="regdate" property="regdate"/>
		
		<collection 
			column="Adopt_idx"
			property="adoptImgList"
			javaType="java.util.List"
			ofType="AdoptImg"
			select="AdoptImg.selectByAdopt"/>
	
	</resultMap>

	<select id="selectAll" resultMap="AdoptMap">
		select * from adopt order by regdate desc
	</select>
	
	<!-- 상품검색 -->
	<select id="selectBySearch" parameterType="java.util.Map" resultType="Adopt">
		select * from adopt where ${category} like '%${keyword}%' order by regdate desc
	</select>
	
	<!-- 디테일 페이지  -->
	<select id="selectByName" parameterType="Adopt" resultType="Adopt">
		select * from adopt where adopt_idx=#{adopt_idx}
	</select>
	
	<!-- adopt 등록 -->
	<insert id="insert" parameterType="Adopt">
		insert into adopt(adopt_idx, name, gender, type, age, content, status)
		values(seq_adopt.nextval, #{name},#{gender},#{type},#{age},#{content},#{status})
						           <!-- 무엇을                               어디에                              언제                   무엇의 타입   -->
		<selectKey keyColumn="adopt_idx" keyProperty="adopt_idx" order="AFTER" resultType="int">
			select seq_adopt.currval from dual
		</selectKey>
		
	</insert>
	
	<update id="update" parameterType="Adopt">
		update adopt set name=#{name}, type=#{type}, gender=#{gender}, age=#{age}, content=#{content}, status=#{status} where adopt_idx=#{adopt_idx}
	</update>
	
	<update id="updateBySuccess" parameterType="Adopt">
		update adopt set status=#{status} where adopt_idx=#{adopt_idx}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from adopt where adopt_idx=#{adopt_idx}
	</delete>

</mapper>